/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/03/2016, 04:35:17 PM
    Author     : MariaSquid
*/

@import url(http://fonts.googleapis.com/earlyaccess/karlatamilupright.css);

.sidebar
                {
                    position: relative;
                    max-width: 360px;
                    float: right;
                    display: block;
                    margin-top: 20%;
                    right: auto;
                    margin-right: 20%;
                    overflow-y: visible;
                    overflow-x: hidden;
                    z-index: 5;
                    
                }
                .container {
                        text-align: center;
                        display: table-cell;
                        vertical-align: middle;
                        padding-bottom: 30%;
                        padding-left: 20px;
                }

                .content {
                        
                        text-align: center;
                        display: inline-block;
                }

                .title {
                      
                        padding-top: 10%;
                        color: #3d3d3d;
                        position: relative;
                        display: block;
                        max-width: 340px;
                        font-size: 1.5em;
                        font-family: 'Myriad Pro';
                        text-align: center;
                        margin-bottom: 7px;
                }

                .sub-title {
                        color: #3d3d3d;
                        position: relative;
                        left: 2%;
                        display: block;
                        max-width: 320px;
                        font-size: 1.6em;
                        font-family: 'Myriad Pro';
                        text-align: center;
                        margin-bottom: 7px;
                }

                .box-l {
                        position: relative;
                        left: 2%;
                        margin-top: 20px;
                        display: inline-block;
                        background: #1f669d;
                        width: 215px;
                        height: 15px;
                        padding: 2%;
                       
                }
                
                .links {
                        color: #fff;
                        font-family: 'Myriad Pro';
                        font-size: 0.95 em;
                        text-align: center;
                        font-weight: normal;
                        vertical-align: middle;

                }
                a{
                    color: #fff;
                    text-decoration: none;
                }
                .logo {
                    position: relative;
                    width: 100%;
                    margin-left: 0;
                }



/* Pantallas grandes ———– */
                @media only screen
                and (min-device-width : 1824px) 
                and (max-device-width: 2024px){
                body {
                    
                    background-image: url('/backgrounds/background-w.jpg');
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    background-color: #3d3d3d;
                    
                    background-position: left center;

                    background-size: calc(100%);

                  }
                  .sidebar {
                    border-radius: 15px;
                    padding: 2%;
                    border: 2px solid #f4f4f4; 
                  }
                  .title{
                       border-top: 2px solid #f4f4f4;
                  }
                  .box-l {
                        position: relative;
                        left: -0.6%;
                        margin-top: 20px;
                        display: inline-block;
                        background: #1f669d;
                        width: 210px;
                        height: 15px;
                        padding: 2%;
                       
                }  
                video {
                    background-size: cover;
                    min-height: auto;
                    min-width: 460px;
                    width: 100%;
                    z-index: 100;
                }
                }
/* Pantallas grandes ———– */
                @media only screen
                and (min-device-width : 2025px) {
                body {
                    
                    background-image: url('/backgrounds/background-w.jpg');
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    background-color: #3d3d3d;
                    
                    background-position: center left;

                    background-size: calc(130%);

                  }
                .sidebar
                {
                    position: relative;
                    min-width: 600px;
                    min-height: 600px;
                    float: right;
                    margin-left: 0;
                    top:640px;
                    right: auto;
                    margin-right: 15%;
                    overflow-y: visible;
                    overflow-x: hidden;
                    z-index: 5;
                    border-radius: 15px;
                    padding: 2%;
                    border: 2px solid #f4f4f4; 
                }
               
                .title {
                        border-top: 2px solid #f4f4f4;
                        color: #3d3d3d;
                        position: relative;
                        display: block;
                        text-align: center;
                        left: 15%;
                        max-width: 600px;
                        font-size: 2.7em;
                        font-family: 'Myriad Pro Regular';
                        margin-bottom: 7px;
                }

                .sub-title {
                        color: #3d3d3d;
                        position: relative;
                        left: 15%;
                        display: block;
                        font-size: 2.5em;
                        max-width: 580px;
                        font-family: 'Myriad Pro Regular';
                        text-align: center;
                        margin-bottom: 7px;
                }

                .box-l {
                        position: relative;
                        left: 15%;
                        margin-top: 20px;
                        display: inline-block;
                        background: #1f669d;
                        width: 300px;
                        height: 40px;
                        padding-bottom: 4px;
                        padding-top: 5px;
                }
                .links {
                        color: #fff;
                        font-family: 'Myriad Pro Regular';
                        font-size: 2.0em;
                        text-align: center;
                        font-weight: normal;

                }
                a{
                    color: #fff;
                    text-decoration: none;
                }
                .logo {
                    
                    width: 120%;
                    
                }
                
                }

    
                @media only screen
                and (min-device-width : 1025px)
                and (max-device-width : 1823px) {
                body {
                    background-image: url('/backgrounds/background-w.jpg');
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    background-color: #3d3d3d;

                    background-position: left center;

                    background-size: cover;

                  }
                .box-l {
                        position: relative;
                        left: 0;
                        margin-top: 20px;
                        display: inline-block;
                        background: #1f669d;
                        width: 215px;
                        height: 15px;
                        padding: 2%;
                       
                }
                .sidebar {
                    border-radius: 15px;
                    padding: 2%;
                    margin-right: 15%;
                    border: 2px solid #f4f4f4; 
                  }
                  .title{
                       border-top: 2px solid #f4f4f4;
                  }

                }

                
/* iPads (portrait y landscape) ———– */
                @media only screen
                and (min-device-width : 768px)
                and (max-device-width : 1024px) {
                body {
                    background-image: url('/backgrounds/background-w.jpg');
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    background-color: #3d3d3d;

                    background-position: left center;

                    background-size: cover;

                  }
                  .box-l {
                        position: relative;
                        left: 0;
                        margin-top: 20px;
                        display: inline-block;
                        background: #1f669d;
                        width: 215px;
                        height: 15px;
                        padding: 2%;
                       
                }
                
                .links {
                        color: #fff;
                        font-family: 'Myriad Pro';
                        font-size: 0.95 em;
                        text-align: center;
                        font-weight: normal;
                        vertical-align: middle;

                }
                a{
                    color: #fff;
                    text-decoration: none;
                }
                .logo {
                    position: relative;
                    width: 100%;
                    margin-left: 0;
                }
               .title {
                        padding-top: 10%;
                        color: #ccc;
                        position: relative;
                        display: block;
                        max-width: 340px;
                        font-size: 1.5em;
                        font-family: 'Myriad Pro';
                        text-align: center;
                        margin-bottom: 7px;
                }

                .sub-title {
                        color: #ccc;
                        position: relative;
                        left: 2%;
                        display: block;
                        max-width: 320px;
                        font-size: 1.6em;
                        font-family: 'Myriad Pro';
                        text-align: center;
                        margin-bottom: 7px;
                }
                }
                
                /* iPads (landscape) ———– */
                @media only screen
                and (min-device-width : 768px)
                and (max-device-width : 1024px)
                and (orientation : landscape) {
                
                body {
                    background-image: url('/backgrounds/background-w.jpg');
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    background-color: #3d3d3d;

                    background-position: center center;

                    background-size: calc(130%);

                  }
                .sidebar
                {
                    position: relative;
                    max-width: 360px;
                    float: right;
                    display: block;
                    margin-top: 10%;
                    right: auto;
                    margin-right: 15%;
                    overflow-y: visible;
                    overflow-x: hidden;
                    z-index: 5;
                }
                  .box-l {
                        position: relative;
                        left: 0;
                        margin-top: 20px;
                        display: inline-block;
                        background: #1f669d;
                        width: 215px;
                        height: 15px;
                        padding: 2%;
                       
                }
                
                .links {
                        color: #fff;
                        font-family: 'Myriad Pro';
                        font-size: 0.95 em;
                        text-align: center;
                        font-weight: normal;
                        vertical-align: middle;

                }
                a{
                    color: #fff;
                    text-decoration: none;
                }
                .logo {
                    position: relative;
                    width: 100%;
                    margin-left: 0;
                }
                .title {
                        padding-top: 10%;
                        color: #ccc;
                        position: relative;
                        display: block;
                        max-width: 340px;
                        font-size: 1.5em;
                        font-family: 'Myriad Pro';
                        text-align: center;
                        margin-bottom: 7px;
                }

                .sub-title {
                        color: #ccc;
                        position: relative;
                        left: 2%;
                        display: block;
                        max-width: 320px;
                        font-size: 1.6em;
                        font-family: 'Myriad Pro';
                        text-align: center;
                        margin-bottom: 7px;
                }
                
                }
                
                /* Smartphones (landscape) ———– */
                @media only screen
                and (min-width : 581px) 
                and (max-device-width : 767px){
                
                body {
                    background-image: url('/backgrounds/background-w.jpg');
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    background-color: #3d3d3d;

                    background-position: left center;

                    background-size: cover;

                  }
                .sidebar
                {
                    position: relative;
                    max-width: 300px;
                    float: right;
                    margin-top: 10%;
                    right: auto;
                    margin-right: 10%;
                    margin-left: 5px;
                    overflow-y: visible;
                    overflow-x: hidden;
                    z-index: 5;
                }
                .container {
                        text-align: center;
                        display: table-cell;
                        vertical-align: middle;
                        padding-bottom: 30px;
                        padding-left: 20px;
                }

                .content {
                        text-align: center;
                        display: inline-block;
                }

                .box-l {
                        position: relative;
                        left: 2%;
                        margin-top: 20px;
                        display: inline-block;
                        background: #1f669d;
                        width: 215px;
                        height: 15px;
                        padding: 2%;
                       
                }
                
                .links {
                        color: #fff;
                        font-family: 'Myriad Pro';
                        font-size: 0.95 em;
                        text-align: center;
                        font-weight: normal;
                        vertical-align: middle;

                }
                a{
                    color: #fff;
                    text-decoration: none;
                }
                .logo {
                    position: relative;
                    width: 100%;
                    margin-left: 0;
                }
                .title {
                        padding-top: 10%;
                        color: #ccc;
                        position: relative;
                        display: block;
                        max-width: 340px;
                        font-size: 1.5em;
                        font-family: 'Myriad Pro';
                        text-align: center;
                        margin-bottom: 7px;
                }

                .sub-title {
                        color: #ccc;
                        position: relative;
                        left: 2%;
                        display: block;
                        max-width: 320px;
                        font-size: 1.6em;
                        font-family: 'Myriad Pro';
                        text-align: center;
                        margin-bottom: 7px;
                }
                video {
                background-size: cover;
                min-height: auto;
                min-width: 460px;
                max-width: 100%;
                z-index: 100;
            }
                }
                
                 /* Smartphones (landscape) ———– */
                @media only screen
                and (min-width : 461px) 
                and (max-device-width : 580px){
                
                body {
                    background-image: url('/backgrounds/phones-ld.jpg');
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    background-color: #3d3d3d;

                    background-position: left center;

                    background-size: cover;

                  }
                .sidebar
                {
                    position: relative;
                    max-width: 300px;
                    float: right;
                    margin-top: 20%;
                    right: auto;
                    margin-right: 20%;
                    margin-left: 5px;
                    overflow-y: visible;
                    overflow-x: hidden;
                    z-index: 5;
                }
                
               
                }
                
                
    /* Smartphones (landscape) ———– */
                @media only screen
                and (min-device-width: 321px) 
                and (max-device-width: 460px){
                   body {
                    
                    background-image: url('/backgrounds/phones-ld.jpg');
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    background-color: #3d3d3d;

                    background-position: left center;

                    background-size: cover;

                  }
                 .sidebar
                {
                    position: relative;
                    max-width: 300px;
                    float: right;
                    margin-top: 20%;
                    right: auto;
                    margin-right: 10%;
                    margin-left: 5px;
                    overflow-y: visible;
                    overflow-x: hidden;
                    z-index: 5;
                }
                
                .title {
                        padding-top: 10%;
                        color: #3d3d3d;
                        position: relative;
                        display: block;
                        max-width: 340px;
                        font-size: 1.2em;
                        font-family: 'Myriad Pro';
                        text-align: center;
                        margin-bottom: 7px;
                }

                .sub-title {
                        color: #3d3d3d;
                        position: relative;
                        left: 2%;
                        display: block;
                        max-width: 320px;
                        font-size: 1.3em;
                        font-family: 'Myriad Pro';
                        text-align: center;
                        margin-bottom: 7px;
                }

                .box-l {
                        position: relative;
                        left: 2%;
                        margin-top: 20px;
                        display: inline-block;
                        background: #1f669d;
                        width: 215px;
                        height: 15px;
                        padding: 2%;
                       
                }
                
                
                }
                    
                
                /* Smartphones (portrait) ———– */
                @media only screen
                and (max-device-width : 320px) {
                body {
                   
                    background-image: url('/backgrounds/phones-ld.jpg');
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    background-color: #3d3d3d;

                    background-position: left center;

                    background-size: calc(110%);
                    
                  }
                 .sidebar
                {
                    position: relative;
                    max-width: 300px;
                    float: right;
                    margin-top: 5%;
                    right: auto;
                    margin-right: 5%;
                    margin-left: 5px;
                    overflow-y: visible;
                    overflow-x: hidden;
                    z-index: 5;
                }
                
                .title {
                        padding-top: 10%;
                        color: #3d3d3d;
                        position: relative;
                        display: block;
                        max-width: 340px;
                        font-size: 1.2em;
                        font-family: 'Myriad Pro';
                        text-align: center;
                        margin-bottom: 7px;
                }

                .sub-title {
                        color: #3d3d3d;
                        position: relative;
                        left: 2%;
                        display: block;
                        max-width: 320px;
                        font-size: 1.3em;
                        font-family: 'Myriad Pro';
                        text-align: center;
                        margin-bottom: 7px;
                }
                
                }
